<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="logo-wrapper">
        <img class="logo" src="/img/logo.png" alt="there should be logo">
    </div>
    <h1>ADMIN panel</h1>
    <div class="form-container">
        <form action="/admin/post-article" method ="post">
            <div class="form-group">
                <label for="article-name">Article Name</label>
                <input type="text" name="article-name" id="">
                <label for="article-content">Article Content</label>
                <input type="text" name="article-content" id="">
                <button type="submit">ADD</button>
            </div>
        </form>
    </div>
</body>
</html>